:root {
  --basewhite: rgba(255, 255, 255, 1);
  --baseblack: rgba(0, 0, 0, 1);
  --neutral-500: rgba(115, 115, 115, 1);
  --neutral-300: rgba(212, 212, 212, 1);
  --neutral-100: rgba(245, 245, 245, 1);
  --slate-800: rgba(30, 41, 59, 1);
  --titles-h1-font-family: "DMSans-Bold", Helvetica;
  --titles-h1-font-weight: 700;
  --titles-h1-font-size: 30px;
  --titles-h1-letter-spacing: -0.3px;
  --titles-h1-line-height: 36px;
  --titles-h1-font-style: normal;
  --text-l-l-reg-font-family: "DMSans-Regular", Helvetica;
  --text-l-l-reg-font-weight: 400;
  --text-l-l-reg-font-size: 16px;
  --text-l-l-reg-letter-spacing: -0.16px;
  --text-l-l-reg-line-height: 24px;
  --text-l-l-reg-font-style: normal;
  --titles-h3-font-family: "DMSans-Bold", Helvetica;
  --titles-h3-font-weight: 700;
  --titles-h3-font-size: 20px;
  --titles-h3-letter-spacing: -0.2px;
  --titles-h3-line-height: 28px;
  --titles-h3-font-style: normal;
  --titles-h2-font-family: "DMSans-Bold", Helvetica;
  --titles-h2-font-weight: 700;
  --titles-h2-font-size: 24px;
  --titles-h2-letter-spacing: -0.24px;
  --titles-h2-line-height: 32px;
  --titles-h2-font-style: normal;
  --text-m-m-semibold-font-family: "DMSans-Medium", Helvetica;
  --text-m-m-semibold-font-weight: 500;
  --text-m-m-semibold-font-size: 14px;
  --text-m-m-semibold-letter-spacing: -0.14px;
  --text-m-m-semibold-line-height: 20px;
  --text-m-m-semibold-font-style: normal;
  --text-l-l-semibold-font-family: "DMSans-Medium", Helvetica;
  --text-l-l-semibold-font-weight: 500;
  --text-l-l-semibold-font-size: 16px;
  --text-l-l-semibold-letter-spacing: -0.16px;
  --text-l-l-semibold-line-height: 24px;
  --text-l-l-semibold-font-style: normal;
  --l: 0px 4px 6px -4px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  --default: 0px 1px 2px -1px rgba(0, 0, 0, 0.1), 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
}
